@import 'jeet'
@import 'rupture'

*
  box-sizing border-box
  
html
  font-family 'Open Sans', sans-serif
  font-size 16px

.trade-list
  width 1200px
  margin 0 auto


.item-trade
  width 30%
  margin-right 1%
  background #f1f1f1
  float left

.item-trade:last-child
  margin-right 0

.item-trade-header,
.trade-call-for-action
  background #fff
  padding 10px 20px

.trader-info
  overflow hidden

.offered,
.wanted
  font-size 1.3em

.offered
  color green

.wanted
  color red

.trader-name,
.trader-screen-name
  display block

.trader-avatar
  float left

.trade-time-ago
  float right

.button
  display block
  background green
  margin 0 auto
  color #fff
  text-transform uppercase
  text-decoration none
  text-align center
  padding 1em
